.auth_body {
    background: rgba(246, 246, 246, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.scores_body {
    background: rgba(246, 246, 246, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    height: 100%;
    width: 100%;
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.body_xo_panel {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(246, 246, 246, 1);
}

#authorization_container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.text-field__input {
    box-sizing: border-box;
    width: 352px;
    height: 48px;
    padding: 12px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
}

.text-field__input:focus {
    border-color: #DCDCDF;
    outline: 0;
}

.text-field__input::placeholder {
    color: #B1B1B7;
}

.button_func {
    display: flex;
    border: none;
    justify-content: center;
    box-sizing: border-box;
    width: 352px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
}

.error_text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #E93E3E;
    padding: 0;
    line-height: 16px;
}

#text {
    width: 100%;
    height: 36px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    justify-content: center;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

placeholder {
    color: #B1B1B7;
}

#nav-panel {
    display: flex;
    width: 707px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

#nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#main-container {
    position: relative;
    height: 100%;
    margin-top: 64px;
    padding: 60px 40px;
    padding-bottom: 77px;
    display: flex;
    justify-content: space-between;
}

#subject-list {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

#subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0;
}

#subject-list > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#subject-list > .container > .subject-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#subject-list .subject-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;
}

#subject-list .subject-percent {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

#subject-list .subject-icon {
    width: 24px;
    height: 24px;
}

#subject-list .subject-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

#game-container {
    box-sizing: border-box;
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: normal;
}

#game-time {
    width: fit-content;
    padding: 24px;
    box-sizing: border-box;
    height: 88px;
    background: #EDEDED;
    border-radius: 12px;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #373745;
}

#game-board {
    box-sizing: border-box;
    width: 663px;
    height: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

#game-board .cell {
    width: 218.33px;
    height: 218.33px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-step {
    box-sizing: border-box;
    height: 48px;
    padding: 12px 69px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

#chat-container {
    box-sizing: border-box;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0px 0px;
    gap: 20px;
    width: 412px;
    height: 452px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.msgs-container {
    box-sizing: border-box;
    height: 384px;
    width: 412px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    max-width: 352px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    box-sizing: border-box;
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
    width: 352px;
}

.msg-container.me {
    box-sizing: border-box;
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
    width: 352px;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.subject-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: #60C2AA;
}

.subject-name.zero {
    color: #E38BAC;
}

.msg-header .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

.msg-interactive-elements {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    gap: 12px;
    width: 100%;
    height: 48px;
}

.msg-interactive-elements button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 48px;
    height: 48px;
    background: #60C2AA;
    border-radius: 12px;
}

.msg-interactive-elements textarea {
    resize: none;
    width: 352px;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}


#scores_container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 44px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    border-spacing: 0;
}

.scores_title {
    width: 100%;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.scores_table {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-spacing: 0;
}

thead {
    width: 100%;
    height: 48px;
}

.class_row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

th {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
}

td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.first_column {
    box-sizing: border-box;
    width: 440px;
}

.tipic_coloumn {
    box-sizing: border-box;
    width: 108px;
}

.last_coloumn {
    box-sizing: border-box;
    width: 134px;
}

#green-color {
    color: #69B849;
}

#red_color {
    color: #E93E3E;
}

